<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @coupon.username %>
</p>

<p>
  <b>Content:</b>
  <%= @coupon.content %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
